body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    color: #eaeaea;
    padding: 20px;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #facc15;
    margin-bottom: 10px;
    font-size: 28px;
}

input[type="file"] {
    display: block;
    margin: 0 auto 20px auto;
    padding: 8px 12px;
    background-color: #1e1e2f;
    color: #facc15;
    border: 1px solid #333;
    border-radius: 8px;
    cursor: pointer;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    background: #1e1e2f;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

canvas {
    width: 100% !important;
    height: 200px !important;
}

#topExpenses {
    list-style: none;
    margin: 0;
    padding-left: 20px;
    color: #a5f3fc;
    font-size: 15px;
    overflow-y: auto;
}

#topExpenses li {
    padding: 6px 0;
}