{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock %}

{% block title %}BudgetTrack - Dashboard{% endblock %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block body_class %}dashboard-page{% endblock %}

{% block content %}
<div class="dashboard-content-wrapper">
  <div class="container">
    <h1>Budget Visualisation Dashboard</h1>
    <input type="file" id="csvFile" accept=".csv" />

    <div class="dashboard">
      <div class="card">
        <canvas id="lineChart"></canvas>
      </div>
      <div class="card">
        <canvas id="pieChart"></canvas>
      </div>
      <div class="card">
        <canvas id="barChart"></canvas>
      </div>
      <div class="card">
        <h2 style="color: #facc15; font-size: 20px">Top 5 Expenses</h2>
        <ul id="topExpenses"></ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}